@mixin cardConstante {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  color: #004D40;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s; 
  border-radius: 50px; 
}