//Gradientee do Bg
body {
  background: linear-gradient(
    60deg,
    #87d1b8 10%,
    #78ccb0 25%,
    #6ea9b8 50%,
    #488392 75%,
    #2b5d6d 100%
  );
  height: 71.6vh;
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
}

//Personalização de textos
p {
  color: #004d40;
}

@import "./constante.scss";

p.nome {
  @include valoresFixos();
  margin-left: 395px;
  font-size: 15px;
  margin-bottom: 0%;
}

p.f {
  @include valoresFixos();
  margin-left: 390px;
  margin-top: 0%;
  margin-bottom: 0%;
  font-size: 100px;
  line-height: 80px;
}

p.f span {
  display: block;
}

p.ap {
  font-size: 15px;
  font-weight: 600;
  margin-top: 0%;
  margin-left: 645px;
}
.container {
  justify-content: center;
}

// Começo do bootão
.card {
  position: relative;
  margin-top: 180px;
  margin-left: 782px;
  display: flex;
  height: 60px; //Ajusta a altura do btn
  width: 250px; //Ajusta a largura do btn
}

.card svg {
  position: absolute;
  display: flex;
  width: 70%;
  height: 100%;
  font-size: 24px;
  font-weight: 700; //Ajusta o negrito
  opacity: 1; //opacidade do btn
  transition: opacity 0.25s;
  z-index: 2;
  padding: 0.25rem;
  cursor: pointer;
}

@import "./cards.scss";

.card .social-link1 {
  @include cardConstante();
}

.card .social-link2 {
  @include cardConstante();
}

.card .social-link3 {
  @include cardConstante();
}

.card .social-link4 {
  @include cardConstante();
}

.card svg {
  transform: scale(0.7); //tamanho do btn
}

@import "./animacao.scss";

.card .social-link1:hover {
  @include animacao();
}

.card .social-link2:hover {
  @include animacao();
}

.card .social-link3:hover {
  @include animacao(); //velocidade da animação
}

/* Desabilitar seleção de texto */
p.nome,
p.f,
p.ap {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

@keyframes bounce_613 {
  20% {
    transform: scale(
      1
    ); //Ajusta o tamanho do círculo quando o mouse passa pelo btn
  }

  40% {
    transform: scale(
      0.8
    ); //Ajusta o quão profundo fica quando o mouse passa por cima do btn
  }

  60% {
    transform: scale(
      1
    ); //Ajusta o tamanho do círculo quando o mouse passa pelo btn
  }

  80% {
    transform: scale(1); //Ajusta o rebote do btn quando o mouse passar por  ele
  }
}
//Fim botão

//Media Queries para tablet e telefone

@media (max-width: 480px) {
  body {
    margin: 0;
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-attachment: fixed;
  }
  p.nome {
    margin-left: 120px;
    font-size: 20px;
  }
  p.f {
    margin-left: 115px;
    font-size: 80px;
    line-height: 80px;  
  }
  p.ap {
    margin-left: 315px;
    font-size: 14px;
  }
  .card {
    margin-top: 400px;
    margin-left: 395px;
    width: 250px;
    height: 40px;
  }
  .card svg {
    width: 70%;
  }
  .card .social-link1,
  .card .social-link2,
  .card .social-link3,
  .card .social-link4 {
    font-size: 20px;
  }
}
